h1 {
    font-family: "Times New Roman", serif;
    text-align: center;
    color:rgb(0, 0, 0);
    font-size: 34px;
    display: block;
    background-color: rgb(196, 196, 196);
    border-bottom:5px solid black;
    padding: 10px;
    margin:0px;
}

.description{
    background-color: rgb(196, 196, 196);
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 500;
    display: inline-block;
    border:1px solid black;
}

.ingredients{
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 500;
    color: rgb(0, 0, 0);
    font-style: italic;
    background-color: rgb(196, 196, 196);
    display: inline-block;
    border:1px solid black;
}

.steps{
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 500;
    color: rgb(0, 0, 0);
    font-style: italic;
    background-color: rgb(196, 196, 196);
    display: inline-block;
    border:1px solid black;
}

.link{
    font-size: 22px;
    font-family: serif;
    font-weight: bold;
    color: rgb(98, 7, 139);
    font-style: normal;
    background-color: rgb(196, 196, 196);
}

.home{
    text-align: right;
    background-color: silver;
    margin-left: auto;
    width: 60px;
    display: block;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
    
}

img{
    margin: auto;
    display: block;
    border: 20px rgb(75, 75, 75) solid;
    border-left: 40px solid black;
    border-right: 40px solid black;
}

body{
    background-color: rgb(126, 126, 126);
    margin-bottom:0px;
}

.banner{
    background-color: rgb(196, 196, 196);
    border: 5px solid black;
}
